@charset "UTF-8";
.Apply-content {
  padding-top: 40px;
}
.Apply-content .apply-title {
  font-size: 20px;
}
.Apply-content .apply-title h2 {
  text-align: center;
}
.Apply-content .filter-group {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}
.Apply-content .filter-group .btn-filter {
  display: flex;
  padding: 3px 10px;
  font-size: 14px;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  color: #999;
  background-color: #fff;
}
.Apply-content .filter-group .btn-filter img {
  width: 16px;
  height: 16px;
}
.Apply-content .filter-group .btn-filter.active {
  color: #1c539c;
}
.Apply-content .band-item-area {
  margin-top: 20px;
}
.Apply-content .band-item-area .band-item-card {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  justify-content: space-between;
  cursor: pointer;
}
.Apply-content .band-item-area .band-item-card .item-card-img {
  display: flex;
  width: calc(100% - 20px - 60%);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/img/basic_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Apply-content .band-item-area .band-item-card .item-card-img p {
  font-weight: 800;
  font-size: 22px;
  color: #111;
}
.Apply-content .band-item-area .band-item-card .item-card-txt {
  display: flex;
  width: calc(100% - 20px - 40%);
  flex-direction: column;
  row-gap: 10px;
}
.Apply-content .band-item-area .band-item-card .item-card-user {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-txt {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: end;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-txt .user-name {
  position: relative;
  font-weight: 500;
  font-size: 20px;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-txt .user-name::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: -10px;
  width: 1px;
  height: 12px;
  background-color: #ccc;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-txt .user-category {
  color: #555;
  font-size: 14px;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-bmark {
  width: 20px;
}
.Apply-content .band-item-area .band-item-card .item-card-user .user-bmark img {
  width: 100%;
}
.Apply-content .band-item-area .band-item-card .item-card-title .title {
  font-size: 26px;
  font-weight: 700;
}
.Apply-content .band-item-area .band-item-card .item-card-skill {
  display: flex;
  gap: 5px;
}
.Apply-content .band-item-area .band-item-card .item-card-skill .skill-item {
  padding: 2px 15px;
  font-size: 12px;
  border-radius: 15px;
  color: #1c539c;
  background-color: #d3eaff;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .inspection {
  margin-top: 3px;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .inspection .btn-insp {
  position: relative;
  width: 60px;
  height: 26px;
  border-radius: 15px;
  background-color: #f1f1f1;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .inspection .btn-insp::after {
  content: "미열람";
  position: absolute;
  top: 3px;
  left: 12px;
  font-size: 13px;
  font-weight: 600;
  color: #999;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .inspection .btn-insp.active {
  background-color: #5ea3ff;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .inspection .btn-insp.active::after {
  content: "열람";
  left: 50%;
  color: #fff;
  transform: translate(-50%, 0);
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .item-card-location {
  padding: 2px 5px;
  gap: 3px;
  align-content: center;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .item-card-location .location_icon {
  width: 16px;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .item-card-location .location_icon img {
  width: 100%;
}
.Apply-content .band-item-area .band-item-card .item-card-bottom .item-card-location p {
  font-size: 14px;
}/*# sourceMappingURL=Apply.css.map */