.mypage {
  .title {
    padding: 20px 0;
    text-align: center;
    h1 {
      font-size: 30px;
    }
  }
  .myp-content {
    display: flex;
    flex-direction: column;
    .myp-menu {
      padding: 40px 0 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #ddd;
      align-items: center;
      transition: 0.2s ease;
      p {
        font-size: 20px;
      }
      .ico {
        width: 26px;
        img {
          width: 100%;
        }
      }
      &:hover {
        cursor: pointer;
        p {
          color: #ccc;
        }
      }
    }
  }
}
